.App {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.App .leftPanel {
  width: 50%;
  height: 100%;
}

.App .leftPanel .upperLeft {
  width: 100%;
  height: 50%;
  background: #7164ff;
}

.App .leftPanel .upperLeft .headerDiv {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.App .leftPanel .upperLeft .headerDiv span {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  padding-left: 5%;
}

.App .leftPanel .upperLeft .logoDiv {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .leftPanel .upperLeft .logoDiv .logo {
  width: 350px;
  height: 350px;
  background: url("../assets/asset1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.App .leftPanel .lowerLeft {
  width: 100%;
  height: 50%;
  background: #6155db;
}

.App .leftPanel .lowerLeft .headerDiv {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.App .leftPanel .lowerLeft .headerDiv span {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  padding-left: 8%;
  font-size: 2em;
}

.App .leftPanel .lowerLeft .logoDiv {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.App .leftPanel .lowerLeft .logoDiv .logoSec {
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.App .leftPanel .lowerLeft .logoDiv .logoSec .logo {
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.App .leftPanel .lowerLeft .logoDiv .logoSec span {
  color: white;
  font-family: sans-serif;
}

.App .rightPanel {
  width: 50%;
  height: 100%;
}

.App .rightPanel .headerDiv {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App .rightPanel .headerDiv .headerText {
  font-family: sans-serif;
  font-size: 1.7em;
  padding-left: 5%;
}

.App .rightPanel .headerDiv .settingIcon {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 2em;
  padding-right: 5%;
  color: lightgray;
}

.App .rightPanel .cardDiv {
  width: 100%;
  height: 90%;
  background: #f7f7f742;
  overflow: auto;
}

@media (max-width: 700px) {
  .App {
    flex-direction: column;
  }
  .App .leftPanel {
    width: 100%;
    height: 35%;
  }
  .App .leftPanel .lowerLeft {
    width: 100%;
    height: 50%;
    display: none;
  }

  .App .leftPanel .upperLeft {
    width: 100%;
    height: 100%;
  }
  .App .leftPanel .upperLeft .logoDiv .logo {
    width: 230px;
    height: 230px;
  }
  .App .rightPanel {
    width: 100%;
    height: 65%;
  }
  .App .rightPanel .headerDiv {
    height: 15%;
  }
  .App .rightPanel .headerDiv .headerText {
    font-size: 1.3em;
  }

  .App .rightPanel .headerDiv .settingIcon {
    font-size: 1.5em;
  }
  .App .rightPanel .cardDiv {
    height: 85%;
  }
}
